<!-- <div class="myName">Edwin Abraham Thomas</div> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
        <a href="#" class="navbar-brand">Edwin Abraham Thomas</a>
    </div>
</nav>

<div class="banner-image w-100 vh-100 f-flex justify-content-center align-items-center">
    <div class="content text-center">
        <!-- <h1 class="text-white">Edwin</h1> -->
    </div>
</div>

<div class="container text-white">
    <p>Hi, I'm Edwin Abraham Thomas</p>
</div>